* {
    background-color: #111111;
    text-decoration: none;
    color: white;

}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;

}

h3 {

    color: white;
}

p {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

/* Navbar Begins */

.NavBar {
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    text-align: center;

    justify-content: space-evenly;
}

#about {
    scroll-behavior: smooth;
}

.Logo {
    display: flex;
    text-align: center;
    width: 18%;
}

.link {
    display: flex;
    text-align: center;
    position: relative;
    top: 28px;

}

.bar {
    color: rgb(147, 155, 163);

}

.links {
    font-size: 18px;
    margin-right: 40px;
    color: rgb(147, 155, 163);
    font-family: 'Rajdhani', sans-serif;


}

.links:hover {
    color: rgb(175, 186, 196);
}

.langs {
    font-size: 18px;
    color: rgb(147, 155, 163);
    font-family: 'Rajdhani', sans-serif;
    width: 30px;
}

.langs:hover {
    color: rgb(175, 186, 196);
}

.lang {
    display: flex;
    text-align: center;
    position: relative;
    top: 28px;
}

.compName {
    font-size: 26px;
    color: aliceblue;
    font-family: 'Rajdhani', sans-serif;
}

.bi-globe {
    margin: 5px;
}

/* NavBar Ends */

/* First Begins */

.first {
    display: flex;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
    margin-left: 40px;
}

.name {
    font-size: 50px;
    margin-bottom: 0px;
    color: aliceblue;
    font-family: 'Rajdhani', sans-serif;
}

.course {
    font-size: 25px;
    color: #64F787;
    font-family: 'Rajdhani', sans-serif;
}

ul {
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
}

ul li::before {
    content: "\2022";
    color: #64F787;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.date {
    display: flex;
}

.date-inf {
    font-family: 'Rajdhani', sans-serif;
    margin-right: 50px;
}

.date-green {
    color: #64F787;
}

/* First Ends */

/* About Begins */

.about {
    background-color: #1F1F1F;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    justify-content: center;
    padding: 10px;
    background-image: url("Resources/25336.jpg");

}

.aboutp {
    background-color: #1F1F1F;
    justify-content: center;



}




/* About Ends */

.adv {
    display: inline-block;
    margin: 200px;

}

/* MOdules */

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 20px;
}

.module{
    background-color: #1F1F1F;
}

h2.module {
    margin-top: 0;
    background-color: #1F1F1F;
    font-family: 'Rajdhani', sans-serif;

}

.summary {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 23px;
    margin-bottom: 20px;
    background-color: #1F1F1F;

}

.details {
    display: none;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 23px;
    margin-bottom: 20px;
    background-color: #1F1F1F;
}


.expand-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    background-color: #64F787;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.expand-btn:focus {
    outline: none;
}

.details.details.show {
    display: block;
    background-color: #1F1F1F;
}