* {
    background-color: #111111;
    text-decoration: none;
    color: white;

}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;

}

h3 {

    color: white;
}

p {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

body {
    margin-bottom: 200px;
}

/* Navbar Begins */

.NavBar {
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    text-align: center;

    justify-content: space-evenly;
}

#about {
    scroll-behavior: smooth;
}

.Logo {
    display: flex;
    text-align: center;
    width: 18%;
}

.link {
    display: flex;
    text-align: center;
    position: relative;
    top: 28px;

}

.bar {
    color: rgb(147, 155, 163);

}

.links {
    font-size: 18px;
    margin-right: 40px;
    color: rgb(147, 155, 163);
    font-family: 'Rajdhani', sans-serif;


}

.links:hover {
    color: rgb(175, 186, 196);
}

.langs {
    font-size: 18px;
    color: rgb(147, 155, 163);
    font-family: 'Rajdhani', sans-serif;
    width: 30px;
}

.langs:hover {
    color: rgb(175, 186, 196);
}

.lang {
    display: flex;
    text-align: center;
    position: relative;
    top: 28px;
}

.compName {
    font-size: 26px;
    color: aliceblue;
    font-family: 'Rajdhani', sans-serif;
}

.bi-globe {
    margin: 5px;
}

/* NavBar Ends */

/* First Begins */

.first {
    display: flex;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
    margin-left: 40px;
}

.name {
    font-size: 50px;
    margin-bottom: 0px;
    color: aliceblue;
    font-family: 'Rajdhani', sans-serif;
}

.course {
    font-size: 25px;
    color: #64F787;
    font-family: 'Rajdhani', sans-serif;
}

ul {
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
}

ul li::before {
    content: "\2022";
    color: #64F787;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.date {
    display: flex;
}

.date-inf {
    font-family: 'Rajdhani', sans-serif;
    margin-right: 50px;
}

.date-green {
    color: #64F787;
}

/* First Ends */

/* About Begins */

.AboutProgram {
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
}

.about {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #64F787;
    border-radius: 20px;
    width: 860px;
    height: 200px;
    padding: 10px;
    box-shadow: 20px 20px 10px #2d5436;
}

.aboutp {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    background-color: #1F1F1F;
}




/* About Ends */

.adv {
    display: inline-block;
    margin: 200px;

}

/* Modules Begin */

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 20px;
}

.module {
    background-color: #1F1F1F;
}

h2.moduleTitle {
    margin: 0;
    background-color: #1F1F1F;
    font-family: 'Rajdhani', sans-serif;
    width: 650px;
    font-size: 25px;

}

.inf {
    display: flex;
    background-color: #1F1F1F;
    align-items: center;
}

.num {
    color: #64F787;
    font-family: 'Rajdhani', sans-serif;
    background-color: #1F1F1F;
    margin: 0;
    width: 10px;
    padding-right: 30px;
    font-size: 40px;
}

.details {
    display: none;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 23px;
    margin-bottom: 20px;
    background-color: #1F1F1F;
}


.expand-btn {
    background-color: #1F1F1F;
    height: 30px;
    position: relative;
    left: 40px;
    display: block;
    border: none;
    cursor: pointer;
}

.expand-btn:focus {
    outline: none;
}

.arrow {
    background-color: #1F1F1F;
    height: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.details.details.show {
    display: block;
    background-color: #1F1F1F;
}

.description {
    background-color: #1F1F1F;

}

.description li {
    background-color: #1F1F1F;

}

/* Modules End*/

/* Instructors Begin */

.instructors {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.instr {
    display: flex;
    justify-content: center;

}

.firstInst {
    display: flex;
    background-color: #1F1F1F;
    margin: 100px 50px;
    width: 600px;
    height: 320px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #64F787;
    border-radius: 30px;
    box-shadow: -10px -10px 30px #2d5436, 10px 10px 30px #2d5436;
}

.instructorProfile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #1F1F1F;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.instrInf {
    background-color: #1F1F1F;
    border-radius: 30px;
}

.instName {
    background-color: #1F1F1F;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 20px;
    font-size: 30px;
}

.instPos {
    background-color: #1F1F1F;
    font-family: 'Rajdhani', sans-serif;
    color: #64F787;
}

.instInfo {
    background-color: #1F1F1F;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 30px;
}


/* Instructors End */

/* Price Begins */

.ProgramPrice {
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.price {
    background-color: #1F1F1F;
    border-style: solid;
    border-width: 1px;
    border-color: #64F787;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    padding: 10px;
    box-shadow: -16px -16px 9px 2px rgba(45, 84, 54, 0.75);
    -webkit-box-shadow: -16px -16px 9px 2px rgba(45, 84, 54, 0.75);
    -moz-box-shadow: -16px -16px 9px 2px rgba(45, 84, 54, 0.75);
}

.heading,
.pricenum,
.duration {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 25px;
    background-color: #1F1F1F;
}

.duration {
    color: #64F787;
}

.pricenum {
    font-size: 50px;
}

.register {
    background-color: #64F787;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.register:hover {
    background-color: #2d5436;
}



/* Price Ends */